.text-bg-orange{
  background-color: rgb(255, 136, 0)!important;
  color: black;
}

.v-scroll-box{
  overflow-y: auto;
  height: 515px;
}

.btn-outline-pink{
  border-color: rgb(224, 82, 167);
  color: rgb(224, 82, 167)
}
.btn-outline-pink:hover{
  border-color: rgb(224, 82, 167);
  background-color: rgb(224, 82, 167);
  color: #fff
}

.text-bg-pink{
  border-color: rgb(224, 82, 167);
  background-color: rgb(224, 82, 167);
  color: #fff
}

.fc-button-primary{
  border-color: #0d6efd!important;
  color: #0d6efd!important;
  background-color: transparent!important;
}
 .fc-button-active{
  background-color: #0d6efd!important;
  color: #fff!important;
}

.fc-daygrid-day-frame:hover{
  cursor: copy;
}
.fc-event-main-frame:hover{
  cursor: zoom-in;
}

.fc-daygrid-day-number{
  font-size: 12px;
  text-decoration: none;
  padding: 0 0 0 0 important;
}

.fc-daygrid-day-top{
  margin: 0;
  padding: 0;
}

.fc-col-header-cell-cushion{
  font-size: 14px;
  text-transform: capitalize;
}

.fc{
  font-size: .875rem;
}