.text-bg-orange{
  background-color: rgb(255, 136, 0)!important;
  color: black;
}

.v-scroll-box{
  overflow-y: auto;
  height: 515px;
}

.btn-outline-pink{
  border-color: rgb(224, 82, 167);
  color: rgb(224, 82, 167)
}
.btn-outline-pink:hover{
  border-color: rgb(224, 82, 167);
  background-color: rgb(224, 82, 167);
  color: #fff
}

.text-bg-pink{
  border-color: rgb(224, 82, 167);
  background-color: rgb(224, 82, 167);
  color: #fff
}

.fc-button-primary{
  border-color: #0d6efd!important;
  color: #0d6efd!important;
  background-color: transparent!important;
}
 .fc-button-active{
  background-color: #0d6efd!important;
  color: #fff!important;
}